.newsContainer {
  width: 400px;
  height: 550px;
  background-color: ghostwhite;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.75);
}

.imgContainer {
  border-radius: 20px;
  height: 40%;
}

.bottomContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titleContainer {
  text-align: center;
}

.title {
  font-weight: 800;
}

.link {
  color: blue;
  font-weight: 700;
}