@use "@/app/styles/media-query" as *;

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.mainContainer {
  height: 100%;
  margin: 50px;
  width: 1600px;

  @include mq(sm) {
    width: auto;
    min-width: 300px;
  }
}

.inputsContainer {
  display: flex;
  justify-content: space-between;

  @include mq(md) {
    flex-direction: column;
    gap: 20px;
  }
}

.textFieldContainer {
  width: 200px;

  @include mq(md) {
    width: 100%;
  }
}

.articlesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  justify-content: space-between;
  margin-top: 50px;

  @include mq(md) {
    justify-content: center;
  }
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 200px;
}

.spinner {
  width: 200px;
  height: 200px;
}
